
POSTGRES_USER=user-123
POSTGRES_PASSWORD=password-123
POSTGRES_DB=git-diff-app-postgres-db

PGDATA=/var/lib/postgresql/data     # postgres data location on server
PGDATA_HOME=/home/docker/volumes/db # postgres data location on host machine

LOGGER_FORMAT=PLAINTEXT # JSON, PLAINTEXT
LOGGER_LEVEL=DEBUG # DEBUG, INFO, WARN, ERROR
# LOGGER_FILE=./logs # optional
LOGGER_STREAM=STDOUT # STDOUT, NONE

HTTP_SERVER_ADDR=:5050
HTTP_SERVER_SHUTDOWN_TIMEOUT=30s # 30s