
POSTGRES_HOST=127.0.0.1
# PORT=5432
POSTGRES_USER=user-123
POSTGRES_PASSWORD=password-123
POSTGRES_DB=git-diff-app-postgres-db
POSTGRES_TIMEOUT=10s

PGDATA=/var/lib/postgresql/data     # postgres data location on server
PGDATA_HOME=/home/docker/volumes/db # postgres data location on host machine

LOGGER_FORMAT=JSON # JSON, PLAINTEXT
LOGGER_LEVEL=DEBUG # DEBUG, INFO, WARN, ERROR
# LOGGER_FILE=./logs # optional
LOGGER_STREAM=STDOUT # STDOUT, NONE
LOGGER_ADD_SOURCE=true

HTTP_SERVER_ADDR=:5050
HTTP_SERVER_SHUTDOWN_TIMEOUT=30s
